# ROS 2 / colcon
build/
install/
log/

# ROS
.ros/

# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# PX4 / simulation artifacts (optional but recommended)
*.ulg
*.log

# Environment variables
.env
